/* mulish font imported */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    font-family: "Mulish", sans-serif;
}
body{
    margin: 0px;
}


/* header section styles */
.navigatiion{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-title img{
    width: 50px;
    height: 50px;
    margin-right: 5px;
}
.nav-title{
    /* border: 1px solid tomato; */
    display: flex;
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    gap: 10px;
    align-items: center;
}

.nav-toolber{
    display: inline-flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 44px;   
}

.nav-toolber a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400px;
    color: #424247;
}
.header{
    margin-left: 125px;
    margin-right: 125px;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFF;
    border-radius: 16px;
    width: 1170px;
    height: 500px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%) ,url('./images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
}
.header-options h2{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 64px;
    font-weight: 700;
}
.header-options p{
    margin-left: 290px;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    width: 600px;
    height: 52px;
}
.header-options div{
    gap: 20px;
    margin-left: 185px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 850px;
    height: 84px;
    background: rgba(255, 255, 255, 0.30); 
}
.primary-buttons, .header-buttons-1{
    padding-left: 15px;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: 1px solid #FFF;
    background-color: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}
.header-buttons-1{
    background-color: #006FCF;
    border: 0px;
    color: #FFF;
    padding: 0px;
    width: 174px;
    height: 58px;
}

/* our-popular-tours styles */

.our-popular-tours{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1180px;
    margin-left: 120px;
    margin-top: 100px;
    gap: 100px;
}
.our-popular-tours-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.our-popular-tours-text{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}



/* choose your destination text styles */
.choose-your-destination-text{
    margin-top: 100px;
}
.choose-your-destination-text h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.choose-your-destination-text p{
    width: 640px;
    text-align: center;
    padding-left: 400px;
    margin-bottom: 40px;
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
}
.our-popular-tours-img-container-1{   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.img-maldives{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    width: 570px;
    height: 300px;
    background-image: url('./images/Rectangle\ 5.png');
    background-repeat: no-repeat;

}
.primary-text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.img-indonesia{
    width: 570px;
    height: 300px;
    background-image: url('./images/Rectangle\ 8.png');
    background-repeat: no-repeat;
}

.our-popular-tours-img-container-2{   
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
}
.img-srilanka{
    width: 374px;
    height: 286px;
    background-image: url('./images/Rectangle\ 6.png');
    background-repeat: no-repeat;
}
.img-north{
    width: 474px;
    height: 286px;
    background-image: url('./images/Rectangle\ 7.png');
    background-repeat: no-repeat;
}
.img-kashmir{
    width: 274px;
    height: 286px;
    background-image: url('./images/Rectangle\ 9.png');
    background-repeat: no-repeat;
}
.our-popular-tours-img-container-3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 30px;
}
.img-bangladesh{
    width: 473px;
    height: 300px;
    background-image: url('./images/Rectangle\ 11.png');
    background-repeat: no-repeat;
}
.img-bandarban {
    width: 673px; 
    height: 300px;
    background-image: url('./images/Rectangle\ 10.png');
    background-repeat: no-repeat;
}


/* why choose us section */
.why-chose-us-heading h3{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;
}
.why-chose-us-heading p{
    color: rgba(19, 19, 24, 0.70);
    width: 640px;
    text-align: center;
    font-size: 16px;
    padding-left: 400px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 40px;
}
.why-chose-us-body-1{
    width: 1170px;
    padding-left: 124px;
    display: flex;
    justify-content:center;
    gap: 24px;
}
.why-chose-us-body-1 .box-1{
    width: 573px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 30px;
}
.why-chose-us-body-1 .box-2{
    width: 573px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 30px;
}
.why-chose-us-body-2{
    display: flex;
    justify-content: center;
}
.why-chose-us-body-2 .box-3{
    width: 573px;
    border-radius: 16px;
    padding: 30px;
    margin-top: 24px;
    margin-bottom: 50px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}


/* deals and discount section style */
.deals-discount h2{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;
}
.deals-discount .test p{
    margin-top: 20px;
    color: rgba(19, 19, 24, 0.70);
    width: 643px;
    text-align: center;
    font-weight: 400;
}
.test{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box, .box-middle{
    width: 1170px;
    height: 500px;
    border: 1px solid #FFF;
    margin-left:125px ;
    margin-right: 125px;
    margin-bottom: 50px;
    border-radius: 16px;
    background-image: url('./images/Group\ 39.png');
}
.box-middle{
    background-image: url('./images/Group\ 40.png');
}
.primary-container, .primary-container-middle{
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    border: 1px solid #FFF;
    border-radius: 16px;
    width: 450px;
    height: 250px;
    position: relative;
    top: 70px;
    left: 550px;
    padding: 50px;
}
.primary-container-middle{
    left: 70px;
}
.boxes{
    display: flex;
}
.box-one-1, .box-one-2, .box-one-3{
    width: 140px;
    display: flex;
    justify-content: center;
    gap: 5px;
}












/* styles for max width 600px device */
@media screen and (max-width: 600px){

    .header{
        /* flex-direction: column; */
        margin-top: 40px;
        margin-left: 110px;
        width: 350px;
        height: 500px;
        background-position: center;
    }
    .navigatiion{
        flex-direction: column;
    } 
  
    .header-options h2{
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
        font-weight: 500;
    }
    .header-options p{
        margin-top: 5px;
        margin-left: 25px;
        text-align: center;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        width: 304px;
        height: 65px;
    }
    .header-options div{
        margin-left: 30px;
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 10px;
        flex-direction: column;
        width: 270px;
        height: 300px;
    }
    .header-buttons-1{
        width: 193px;
        height: 56px;
    }
    .our-popular-tours{
        flex-direction: column;
        width: 370px;
        margin-top: 20px;
        gap: 50px;
    }
    .our-popular-tours-text-1{
        margin-left: 50px;       
    }
    .our-popular-tours-text{
        width: 335px;     
    }
}